[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "==3.141.0"
flask = "==1.1.2"
greenlet = "*"
eventlet = "*"
gevent = "*"
gunicorn = "*"
flask-caching = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
